flask
flask_cors
gunicorn
python-dotenv
# PDF Tools
pypdf
pyMuPDF
pdf2image
pytesseract
# AI & LangChain - Pinning versions to ensure compatibility
langchain==0.2.14
langchain-community==0.2.12
langchain-core==0.2.33
langchain-groq==0.1.9
langchain-huggingface==0.0.3
langchain-text-splitters==0.2.2
# Vector Store
faiss-cpu
# Embeddings dependencies
sentence-transformers