faiss-cpu
groq
langchain-groq
langchain
langchain_community
langchain-huggingface
python-dotenv
# PyPDF2 is old, use pypdf instead if possible, but keep if your code uses it
PyPDF2
pypdf
pyMuPDF
flask
flask_cors
pdf2image
gunicorn
sentence-transformers
pytesseract
# torch <-- REMOVE THIS LINE (Handled by Dockerfile)
