faiss-cpu
groq
langchain-groq
PyPDF2
langchain_google_genai
langchain
langchain_community
langchain_huggingface
sentence-transformers
torch
transformers
python-dotenv
pypdf
pymupdf
pdf2image
pytesseract
pillow
flask
flask_cors
gunicorn